<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="m-5 text-center">Weather App</h1>
        <form method="post">
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="Enter city">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% if data %}
        <h2 class="my-5">Weather Data</h2>
        <p>Latitude: {{ data.latitude }}</p>
        <p>Longitude: {{ data.longitude }}</p>
        <p>Timezone: {{ data.timezone }}</p>
        <h3 class="my-3">Current Weather</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Metric</th>
                    <th scope="col">Value</th>
                    <th scope="col">Unit</th>
                </tr>
            </thead>
            <tbody>
                {% for unit, value in data.current.items() %}
                <tr>
                    <td>{{ unit }}</td>
                    <td>{{ value }}</td>
                    <td>{{ data.current_units[unit] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
